/* General page reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Header */



header {
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 10;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    max-width: 1200px;
    margin: 0 auto;
}
.nav_logo img {
    max-width: 60px;
    height: auto;
}

.nav_links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    list-style-type: none;
}

.nav_links a {
    color: #000000;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    font-weight: 500;
}


.nav_links a:hover {
    border-bottom: 2px solid rgba(142, 87, 5, 0.773);
}






/* Home Section */


/* Optional: Fade effect */
.fade {
    animation: fadeEffect 1.5s;
}
@keyframes fadeEffect {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}



/* Slideshow container */

.slideshow-container{
    position: relative;
    margin: auto;
}

.overlay-text {
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-50% -30%);
    padding-top: 40px;
    text-align: center;
    color: #f2f2f2;
    font-family: Arial, sans-serif;
}


.overlay-text .homeSubtitle {
    color: #f5a623; /* Change to your desired color */
}

.overlay-text .homeTitle {
    color: rgb(120, 80, 28); /* Change to your desired color */
}




/* Text styling */
.homeTitle {
    font-size: 40px;
    line-height: 1.2;
    margin: 10px 0;
}

.homeSubtitle {
    font-size: 18px;
    margin-bottom: 10px;
}

.button {
    background-color: #241304;
    padding: 0.7rem 1.5rem;
    border-radius: 5px;
    color: #ccc;
    font-size: 18px;
    margin-top: 1rem;
    display: inline-block;
    text-decoration: none;
}



/* Responsive styling */
@media only screen and (max-width: 768px) {
.homeTitle {
    font-size: 32px;
}
.homeSubtitle {
    font-size: 16px;
}

.button {
    font-size: 16px;
}
   
}



/* Booking Form */

/* Center heading and adjust its color */

h1 {
    text-align: center;
    padding-top: 40px;
    color: #333;
}

form {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 1px;
}


/* Set form to fullscreen layout */
.booking-form {
    display: flex;
    justify-content: center;
}







/* Input, select, and textarea styling for fullscreen layout */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}




/* Button styling */
input[type="submit"],
input[type="reset"],
button {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover {
    background-color: #0056b3;
}

/* Error message styling */

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}





/* Gallery Section */

.gallery {
    padding: 4rem 0;
    background-color: white;
    text-align: center;
}
.gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

.gallery-item {
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    width: 250px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
    width: 100%;
    border-radius: 8px;
}

.gallery-item p {
    margin: 1rem;
    font-size: 16px;
    color: #333;
}






/* Styling the Top Category Images */




.menu h1 {
    font-size: 40px;
    color: #422c1c;
    padding-top: 30px;
}


.menu p {
    padding: 20px;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

.menu h2 {
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #422c1c;
}

.menu {
    text-align: center;
}

.top-category-container {
    display: flex;
    justify-content: center;
    gap: 10%;
}

.top-menu {
    text-align: center;
    max-width: 300px;
}


.top-menu img {
    width: 100%;
    height: auto;
    max-width: 450px;
    margin-bottom: 20px;
    gap: 20px;
}

.description {
    font-size: 20px;
    color: #0a0a0a;
    margin-top: 0;
}




/* Styling the menu card*/


.coffee-menu-container {
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    font-family: sans-serif;
    padding: 20px;
    background-color: #030303;
}



.coffee-menu-container::before {
    background: rgba(0, 0, 0, 0.5);
}

.coffee-menu h1,
.coffee-menu h2,
.coffee-menu p {
    text-align: center;

}


.footer-info h1,
.footer-info h2,
.footer-info p {
    text-align: center;
    color: #422c1c;
}

.coffee-menu {
    width: 80%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.menu-divider {
    height: 2px;
    background-color: brown;
    border: none;
}

.bottom-line {
    margin-top: 25px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}


.item .flavor,
.item .dessert {
    text-align: left;
    flex: 1;
}

.item .price {
    text-align: right;
    margin-left: 20px;
}

.footer-info {
    font-size: 14px;
}

.address {
    margin-bottom: 5px;
}



/* Testimonials Section */


/* Testimonials Section */


.testimonials {
    padding: 50px 20px;
    background-color: #f5f5dc;
    text-align: center;
}


.testimonials h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-bottom: 40px;
    color: #333;
    padding-bottom: 20px;
}





/* Container for Testimonials */


.testimonials-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

.testimonial {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    text-align: center;
}

.testimonial img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
}



.testimonial blockquote {
    font-style: italic;
    font-size: 16px;
    margin: 15px 0;
    color: #666;
}




.testimonial .customer-name {
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}





/* Styling About Us Page */



.abouts {
    padding: 20px;
    background-color: #f5f5dc;
}


.abouts h1 {
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 40px;
}


.abouts .content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}


.abouts p {
    width: 60%;
    font-size: 19px;
    line-height: 1, 6;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    text-align: left;
    margin: 0;
    padding-left: 20px;
    padding-top: 90px;
}


  .image_section {
    width: 35%;
    text-align: right;
  }

.image_section img {
    width: 100%;
    border-radius: 10px;
    display: block;
}




/* Styling the Footer */

footer {
    background: rgba(0, 0, 0, 0.16);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    forced-color-adjust: auto;
}


footer ul.social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex;
    justify-content: center;
    margin: 10px 0;
}

footer ul.social-icons li {
    margin: 0 10px;
}

footer ul.social-icons li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}

footer p {
    margin: 10px 0 0;
    font-size: 0.9rem;
}


.hours li {
    margin-bottom: 8px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    display: inline-block;
}


.footer-container {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.footer-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px 0;
    border-top: 1px solid #444;
}




.footer-content>div {
    flex: 1;
    margin: 0 10px;
}

.hours,
.contacts,
.icons,
.bottom-links {
    text-align: center;
}

.footer-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.bottom-links a {
    color: #fff;
    text-decoration: none;
    display: block;
}



.icons a {
    color:#ccc;
    text-decoration: none;
    display: block;
}



.bottom-links a:hover {
    color:#c68642
}

.icons a:hover {
    color: #c68642;
}

.footer-content ul li {
    margin-bottom: 5px;
}

.hours
h2 {
    padding-bottom: 10px;
}


#contacts,
h2 {
    padding-bottom: 10px;
}





/* responsive navigation */

.mobile-menu-icon {
    display: none;
}


@media (max-width: 768px) {

    /* Hide the nav links and show the menu icon */
.nav_links {
    display: none;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.nav_links.active {
    display: flex;
}

  .mobile-menu-icon {
    display: block;
    font-size: 24px;
    cursor: pointer;
  }

    

}



/* Responsive Footer screens */



@media (max-width: 480px) {
    .footer-container {
        padding: 15px;
    }

    .footer-content h2 {
        font-size: 1em;
    }

    .footer-content p,
    .footer-content a {
        font-size: 0.85em;
    }

    footer ul.social-icons li a {
       
        font-size: 1.2rem;
        /* Smaller icon size on small screens */
    }

   footer ul.social-icons li a {
    font-size: 1.2rem;
   }
    

   .hours ul {
    padding: 0;
    list-style: none;
    width: 70%;
    margin: 0 auto;
   }

.hours ul li {
    display: block;
    margin-bottom: 8px;
    text-align: left;
}




}






/* Responsive Booking Form Styling for Smaller Screens */
@media (max-width: 768px) {
    
form {
    padding: 15px;
    max-width: 90%;
}


    h1 {
        font-size: 1.8rem;
        padding-top: 20px;
    }
    
}

@media (max-width: 480px) {
    

  form {
    padding: 10px;
    max-width: 100%;
  }



    h1 {
        font-size: 1.5rem;
        padding-top: 10px;
    }

    /* Smaller font sizes for input fields and buttons */



    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="tel"],
    select,
    textarea {
        font-size: 14px;
        padding: 8px;
    }


    input[type="submit"],
    button {
        font-size: 14px;
        padding: 8px;
    }

}



@media (max-width: 480px) {


    .testimonials h1 {
        font-size: 28px;
    }

    .testimonial {
        padding: 15px;
        width: 100%;
        max-width: 90%;
        margin: 0 auto;
    }

    .testimonial img {
        width: 70px;
        height: 70px;
    }

    .testimonial blockquote {
        font-size: 14px;
    }

    .testimonials-container {
        flex-direction: column;
        align-items: center;
    }




}


/* Responsive Menu Styling */
@media (max-width: 768px) {
    .menu h1 {
        font-size: 32px;
    }

    .menu p {
        font-size: 18px;
    }

    .menu h2 {
        font-size: 26px;
    }

    .top-category-container {
        gap: 5%;
        /* Reduce gap between items */
    }

    .top-menu {
        max-width: 100%;
        /* Make each item take full width */
    }

    .top-menu img {
        max-width: 80%;
        /* Scale down images for tablets */
    }
}

@media (max-width: 480px) {


    .menu h1 {
        font-size: 28px;
    }

    .menu p {
        font-size: 16px;
    }

    .menu h2 {
        font-size: 24px;
    }

    .top-category-container {
        flex-direction: column;
        align-items: center;
    }

    .top-menu img {
        max-width: 90%;
    }



    .description {
        font-size: 16px;
    }


}


/* Responsive Gallery Styles */
@media (max-width: 768px) {


    .gallery h2 {
        font-size: 28px;

    }

    .gallery-item {
        width: 200px;
    }

    .gallery-item p {
        font-size: 14px;
    }


}


@media (max-width: 480px) {

    .gallery-container {
        gap: 1rem;
    }

    .gallery-item {
        width: 100%;
    }

    .gallery-item img {
        max-width: 100%;
    }

    .gallery-item p {
        font-size: 14px;
    }

}


/* Responsive About Styles */
@media (max-width: 768px) {

    .abouts h1 {
        font-size: 30px;
    }

    .abouts .content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .abouts p {
        width: 100%;
        padding: 0;
        padding-top: 20px;
    }

    .image_section {
        width: 80%;
        margin-top: 20px;
        text-align: center;
    }

    .image_section img {
        max-width: 100%;
    }




}




@media (max-width: 480px) {


    .abouts h1 {
        font-size: 28px;
    }

    .abouts p {
        font-size: 16px;
        padding-top: 10px;
    }

    .image_section {
        width: 100%;
    }
}